html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
  display: flex;
  justify-content: center;
  position: relative;
  background: #448128;
}

*:focus {
  outline-style: none;
}
